---
layout: page
title: tags
permalink: /tags/
---

{% assign tag_names = site.tags | sort %}
{% if tag_names.size == 0 %}
<p>no tagged posts yet.</p>
{% endif %}

{% for tag in tag_names %}
<h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
<ul class="post-list">
  {% for post in tag[1] %}
  <li>
    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 32 }}</p>
  </li>
  {% endfor %}
</ul>
{% endfor %}
