---
layout: page
title: tags
permalink: /tags/
---

{% assign tag_names = site.tags | sort %}

{% if tag_names.size == 0 %}
<p>no tagged posts yet.</p>
{% else %}
<div class="ms-taglist">
  {% for tag in tag_names %}
  <div class="ms-tagrow" id="{{ tag[0] | slugify }}">
    <span class="ms-tagrow-name">#{{ tag[0] }}</span>
    <span class="ms-tagrow-posts">{% for post in tag[1] %}<a href="{{ post.url | relative_url }}">{{ post.title }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
  </div>
  {% endfor %}
</div>
{% endif %}
