<div class="ms-sidebar-stack">

  {% if page.layout == "home" %}

  <div class="ms-ipod-slot">
    {% include ipod-player.html
       id="home-ipod"
       audio=site.now_playing.audio
       title=site.now_playing.title
       artist=site.now_playing.artist %}
  </div>
  {% endif %}

  <div class="ms-sidebar-footerbits">
    <div class="hit-counter" aria-hidden="true"><b>0</b> days since last apology for something dumb</div>
    <p class="blink">&#9733; thanks for stopping by &lt;3 &#9733;</p>
    <div class="badge-row">
      <span>this user<br>has astigmatism</span>
      <span>im angry<br>all the time</span>
      <span>bird<br>watcher</span>
    </div>
    <p class="footer-note">cursor: <a href="https://www.rw-designer.com/cursor-set/pinkiest-heart-md">pinkiest heart</a> by NaLexnu, CC BY-NC.</p>
    <p class="footer-note">crow: <a href="https://elska.itch.io/pixel-crow">pixel crow</a> by elska.</p>
    <p class="footer-note">bleeding heart: <a href="https://www.deviantart.com/harolprime607/art/Bleeding-Heart-%28GIF%29-1294324390">bleeding heart</a> by harolprime607.</p>
    <p class="footer-note">&copy; {{ site.time | date: '%Y' }} sheffly.</p>
  </div>

</div>
